* {
  padding: 5px 5px;
  color: #a50000;
}
.menu {
  width: 200px;
  list-style: none;
  background-color: #ffd440;
  border: 1px outset #000;
  border-radius: 10px;
  box-shadow: 5px 5px #660000;
}
