@using task_7._1._2_UI
@{
    Layout = "~/_Layout.cshtml";
    string error = string.Empty;
    if (IsPost)
    {
        var login = Request["regLogin"];
        var password = Request["regPassword"];
        if (Dependencies.AccountManager.CanRegister(login))
        {
            Dependencies.AccountManager.Create(login, password);
            Response.Redirect("~/");
        }
        else
        {
            error = $"Пользователь с логином \"{login}\" уже существует";
        }
    }
}
@if (!string.IsNullOrWhiteSpace(error))
{
    <p class="alert alert-danger">@error</p>
}
<form class="mb-2 w-50" method="post">
    <div class="form-group">
        <label for="regLogin">Логин</label>
        <input type="text" name="regLogin" class="form-control" id="regLogin" required pattern="^[^\s]+(\s.*)?$">
    </div>
    <div class="form-group">
        <label for="regPassword">Пароль</label>
        <input type="password" name="regPassword" class="form-control" id="regPassword" required pattern="^[^\s]+(\s.*)?$">
    </div>
    <button class="btn btn-primary" type="submit">Зарегистрироваться</button>
</form>
