* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
}
header {
  margin-top: 20px;
  margin-bottom: 30px;
  border-top: 3px solid #e3e3e3;
  border-bottom: 2px solid #e3e3e3;
}

.searchField {
  width: 60%;
  height: 15px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 6px;
}
.searchField img {
  width: 15px;
  height: 15px;
}
.searchField input {
  width: 89%;
  margin-left: 30px;
  outline: none;
  border: none;
  background-color: #f5f5f5;
}
.add {
  position: fixed;
  bottom: 15%;
  right: 10%;
  font-size: 32px;
  font-weight: normal;
  padding: 10px 20px;
  background-color: #26b6f7;
  border-radius: 50%;
  outline: none;
  border: none;
}

.disable {
  display: none;
}

.noteForm {
  z-index: 9999;
  width: 50%;
  position: fixed;
  left: 25%;
  top: 25%;
  background-color: white;
  padding: 20px 20px 10px 20px;
  border-radius: 15px;
  box-shadow: 0 5px 5px #d3d3d3, 2px 0 5px #d3d3d3, 0 -2px 5px #d3d3d3,
    -5px 0 5px #d3d3d3;
}

.heading input,
.textNote textarea {
  outline: none;
  display: inline-block;
  width: 100%;
  border: none;
}
.heading input {
  margin-bottom: 15px;
  font-size: 24px;
}

.textNote textarea {
  height: 100px;
  font-size: 14px;
  resize: none;
}

.buttons {
  float: right;
  margin-top: 15px;
}

.btn {
  display: inline-block;
  margin-right: 20px;
  outline: none;
  border: none;
  padding: 10px 25px;
  background-color: white;
  font-size: 14px;
  border-radius: 5px;
}

.btn:hover {
  background-color: #cdcdcd;
}

.note {
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
  border: 2px solid #e3e3e3;
  border-radius: 7px;
  padding: 20px 20px 10px 20px;
}

.noteHead {
  font-weight: bold;
}

.deleteButton {
  text-align: right;
}
.deleteButton img {
  margin-top: 25px;
  width: 25px;
  height: 30px;
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 7px;
}

#blocker {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
  width: 100%;
  height: 100%;
  background-color: gray;
  opacity: 0.3;
}
