
<div class="modal fade" id="@Page["id"]" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
                @RenderBody()
        </div>
    </div>
</div>
