@{
    Layout = "~/Pages/_LayoutModal.cshtml";
    Page["id"] = "addUser";
}
<div class="modal-header">
    <h5 class="modal-title" id="ModalLabel">Создание пользователя</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form action="~/Pages/AddUser.cshtml" method="post">
    <div class="modal-body">
        <label for="userName">Введите имя</label>
        <input id="userName" name="userName" class="form-control" type="text" placeholder="" required pattern="^[^\s]+(\s.*)?$">
        <label for="userBirth">Введите дату рождения</label>
        <input id="userBirth" name="userBirth" class="form-control" type="date" placeholder="" min="1950-01-01" max="2020-01-01" required>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">Закрыть форму</button>
        <button type="submit" class="btn btn-primary">Создать пользователя</button>
    </div>
</form>

