@{
    Layout = "~/Pages/_LayoutModal.cshtml";
    Page["id"] = "deleteAward";
}
<div class="modal-header">
    <h5 class="modal-title" id="ModalLabel">Удаление награды</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form action="~/Pages/DeleteAward.cshtml" method="post" id="deleteForm" name="deleteAward">
    <div class="modal-body">
        <label for="awardID">Введите ID награды</label>
        <input id="awardID" name="awardID" class="form-control" type="text" placeholder="" required pattern="(^[0-9a-zA-Z]{8}-([0-9a-zA-Z]{4}-){3}[0-9a-zA-Z]{12}?$)">
        <small class="form-text text-muted">
            Пример ID: @Guid.NewGuid()
        </small>
    </div>
    <div class="modal-footer">
        <button type="reset" class="btn btn-secondary" data-dismiss="modal">Закрыть форму</button>
        <button type="submit" class="btn btn-primary">Удалить награду</button>
    </div>
</form>


