@{
    Layout = "~/Pages/_LayoutModal.cshtml";
    Page["id"] = "setRole";
}
<div class="modal-header">
    <h5 class="modal-title" id="ModalLabel">Установить роль</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form action="~/Pages/SetRole" method="post">
    <div class="modal-body">
        <label for="userLogin">Введите логин пользователя для установки роли</label>
        <input id="userLogin" name="userLogin" class="form-control" type="text" required pattern="^[^\s]+(\s.*)?$">
        <label for="role">Выберите роль</label>
        <select class="form-control" name="role" id="role" required>
            <option value="user">Пользователь</option>
            <option value="admin">Администратор</option>
        </select>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">Закрыть форму</button>
        <button type="submit" class="btn btn-primary">Изменить пользователя</button>
    </div>
</form>
